@import "base/_reset.less";
@import "layout/_grid.less";




.box {
    min-height: 60px;
    border: 1px solid #999;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
